<div id="location-container">
    <h3 id="location-info">
        <a href="javascript:refreshMap()" class="refresh-link">LOCATION<img src="/images/refresh.png" class="refresh-icon" title="refresh"></a>
    </h3>
    <div id="map_canvas" style="width:450px; height:363px"></div>
</div>
