<div id="snapshot-container">
    <h3 id="camera-info">
        <a href="javascript:refreshLiveView()" class="refresh-link">LIVE VIEW<img src="/images/refresh.png" title="refresh" class="refresh-icon"></a>
        <img class="hidden" id="snapshot-spinner" src="/images/spinner.gif" height="16" width="16">
    </h3> 
    <img id="snapshot" src="/media/snapshots/latest.jpg" width="486" height="363">
</div>
