<div id="location-container">
    <h3 id="tts">TEXT-TO-SPEECH</h3>
    <textarea cols=50 rows=10 style="border:1px solid" id="tts-message"></textarea>
    <br />
    <input type="submit" value="Say it!" name="button1" onclick="textToSpeech()">
    <img id="tts-spinner" style="display:none" src="/images/spinner.gif" height=16 width=16>
    <span id="tts-success"></span>
    <span id="tts-failure"></span>
</div>
