*                   {margin: 0; padding: 0; border: 0; outline: 0;}
div.clear           {clear: both;}
body                {background: #EEEEEE; margin: 0; padding: 0;
                     font-family: 'Lucida Grande', 'Lucida Sans Unicode',
                     'Garuda';}
code                {font-family: 'Lucida Console', monospace;
                     font-size: 12px;}
li                  {height: 18px;}
ul                  {list-style: none; margin: 0; padding: 0;}
ol:hover            {cursor: pointer;}
ol li               {white-space: pre;}
#explanation        {font-size: 12px; color: #666666;
                     margin: 20px 0 0 100px;}

/* WRAP */
#wrap               {width: 1000px; background: #FFFFFF; margin: 0 auto;
                     padding: 30px 50px 20px 50px;
                     border-left: 1px solid #DDDDDD;
                     border-right: 1px solid #DDDDDD;}

/* HEADER */
#header             {margin: 0 auto 0px auto;}
#header img         {float: left;}
#header #summary    {float: left; margin: 40px 0 0 50px; width:800px;
                     font-family: 'Lucida Grande', 'Lucida Sans Unicode';}
h1                  {margin: 0; font-size: 28px; color: #A4C639;}
h2                  {margin: 0; font-size: 22px; color: #333333;}
#header ul          {margin: 0; font-size: 12px; color: #666666;}
#header ul li strong{color: #444444;}
#header ul li       {display: inline; padding: 0 10px;}
#header ul li.first {padding-left: 0;}
#header ul li.last  {border: 0; padding-right: 0;}

/* BODY */
#backtrace,
#get,
#post,
#cookies,
#rack               {width: 980px; margin: 0 auto 10px auto;}
p#nav               {float: right; font-size: 14px;}

/* BACKTRACE */
a#expando           {float: left; padding-left: 5px; color: #666666;
                    font-size: 14px; text-decoration: none; cursor: pointer;}
a#expando:hover     {text-decoration: underline;}
h3                  {float: left; margin-bottom: 10px;
                     color: #A4C639; font-size: 17px; font-weight: bold;}
#nav a              {color: #666666; text-decoration: none; padding: 0 5px;}
#backtrace li.frame-info {background: #f7f7f7; padding-left: 10px;
                         font-size: 12px; color: #333333;}
#backtrace ul       {list-style-position: outside; border: 1px solid #E9E9E9;
                     border-bottom: 0;}
#backtrace ol       {width: 920px; margin-left: 50px;
                     font: 10px 'Lucida Console', monospace; color: #666666;}
#backtrace ol li    {border: 0; border-left: 1px solid #E9E9E9;
                     padding: 2px 0;}
#backtrace ol code  {font-size: 10px; color: #555555; padding-left: 5px;}
#backtrace-ul li    {border-bottom: 1px solid #E9E9E9; height: auto;
                     padding: 3px 0;}
#backtrace-ul .code {padding: 6px 0 4px 0;}
#backtrace.condensed .system,
#backtrace.condensed .framework {display:none;}

/* REQUEST DATA */
p.no-data           {padding-top: 2px; font-size: 12px; color: #666666;}
table.req           {width: 980px; text-align: left; font-size: 12px;
                     color: #666666; padding: 0; border-spacing: 0;
                     border: 1px solid #EEEEEE; border-bottom: 0;
                     border-left: 0;
                     clear:both}
table.req tr th     {padding: 2px 10px; font-weight: bold;
                     background: #F7F7F7; border-bottom: 1px solid #EEEEEE;
                     border-left: 1px solid #EEEEEE;}
table.req tr td     {padding: 2px 20px 2px 10px;
                     border-bottom: 1px solid #EEEEEE;
                     border-left: 1px solid #EEEEEE;}

/* HIDE PRE/POST CODE AT START */
.pre-context,
.post-context       {display: none;}

table td.code       {width:750px}
table td.code div   {width:750px;overflow:hidden}

.refresh-link {
    text-decoration:none;
    color: #A4C639;
}

.refresh-icon {
    margin-left: 10px;
}

.cactus-bar {
  background:url("images/hr-green-gradient.gif") no-repeat scroll right top #ACD659;
  clear:both;
  display:block;
  height:2px;
  line-height:0;
  margin-bottom:1.5em;
  margin-top:0.5em;
  overflow:hidden;
  padding:0;
}

#location-container 
{
  float:left;
}

#snapshot-container 
{
  width: 486px;
  height: 363px; 
  float: right;
}
